body {
  background-color: black;
  background-size: cover;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
 
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top:15px;
  left: 250px;
  width: 0;
  border-radius: 5px;
  height: 200px;
  margin-left: -250px;
  overflow-y: auto;
  background: #000000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: fixed;
  padding: 15px;
  z-index: 2000;
}

#wrapper.toggled #page-content-wrapper {
  position: fixed;
  margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {  
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fa{
  color:orange;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#section1 {
  background: url('http://imagizer.imageshack.us/a/img538/2431/tvrPC9.jpg') 100% 0 no-repeat fixed;
  min-height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section2 {
  background: url('http://pixelcog.github.io/parallax.js/img/stellar-spire-eagle-nebula-1400x900.jpg') 80% 0 no-repeat fixed;
  min-height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section3 {
  background: url('http://www.9freepictures.com/d/file/travel-tours/200911/iceland-scenery-130-2.jpg') 50% 0 no-repeat fixed;
  min-height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toTop {
  display:none;
}